.container {

  .btn-container {
    // padding-left: 33px;
    margin: 0 auto;
    width: 50%;
  }

  .search-input {
    display: inline-block;
  }

  .margin-left-5px {
    margin-left: 5px;
  }

  input {
    height: 30px;
  }
}
